<div class ="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>
	<br />
	Splurty was built by <a target="_blank" href="http://gitub.com/mattheweves">Matthew Eves</a>.  This is the first Ruby web application
	I have ever built and I am blown away by the complexity of a simple web application that displays quotes and accepts quotes
	from users of the website. 
	</p>
	<br />
	<p>
	I currently work as an Application Consultant for a global time and attendance company, but on mission to get to the guts of how applications
	are developed and how pros work together to build software that changes the world.
	</p>
	<p>
	If you want to chat about coding, email me here: <a href="mailto:mattheweves@outlook.com>"<strong>mattheweves@outlook.com</strong></a>.
    </p>

    <br />
    <br />
    <br />
   
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'matt.png', :class => 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Matt Eves</h2>
    <br />
    <p>
    Matt Eves is a technology and software specialist with a mechanical engineering background.  My role and gift is the ability to learn, test, and master software applications from mobile apps to 3D Modeling software to complex financial services products, and then ensure customer satisfaction and mastery of said software applications.

	I am a first class problem solver and find ultimate satisfaction in working with team members to overcome obstacles and design solutions that enable businesses and individuals to succeed. 
    </p>
    </div>

    <br class="clear" />
	<br />    
	<br />
	<br />


</div>